//.search-box .DocSearch.DocSearch-Button {
//  cursor: text;
//  width: 10rem;
//  height: 2rem;
//  color: #5b5b5b;
//  border: 1px solid var(--border-color);
//  border-radius: 0.25rem;
//  font-size: 0.9rem;
//  padding: 0 0.5rem 0 0rem;
//  outline: none;
//  transition: all 0.2s ease;
//  background: transparent;
//  background-size: 1rem;
//}
//
//.search-box .DocSearch-Button-Key {
//  display: none;
//}

.search-box .DocSearch.DocSearch-Button {
  display: inline-block;
  position: relative;
  flex: 0 0 auto;
  vertical-align: top;
  width: 12.625rem;
  cursor: text;
  height: 2.124rem;
  color: #5b5b5b;
  border: 1px solid var(--border-color);
  border-radius: 2rem;
  font-size: .9rem;
  line-height: 2.12rem;
  padding: 0 .5rem 0 1.4rem;
  outline: none;
  transition: all .2s ease;
  background: var(--background-color) url(/assets/img/search.83621669.svg) .6rem .5rem no-repeat;
  background-size: 1rem;
  text-align: left;
  margin-left: 0;
  margin-top: 0.1em;
}

.search-box .DocSearch-Button-Key {
  display: none;
}


.search-box .DocSearch-Button-Container {
  margin-left: 0.3rem;
  display: none;
}

.search-box .DocSearch-Button .DocSearch-Search-Icon {
  width: 16px;
  height: 16px;
  position: relative;
  top: 0.1rem;
  display none;
}

.search-box .DocSearch-Button-Placeholder {
  font-size: 0.8rem;
}

.search-box .DocSearch-Button-Keys {
  position: absolute;
  right: 0.1rem;
}

.search-box .DocSearch-Button-Key {
  font-size: 12px;
  line-height: 20px;
}


